@model IEnumerable<Wissen.Model.Post>

@{
    ViewBag.Title = "Yazılar";
}

<<<<<<< HEAD
<h2>Yazılar</h2>

<p>
    @Html.ActionLink("Yeni Yazı", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-striped">
    <tr>

=======
<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Yazı", "Create",null, new {@class="btn btn-primary"})
</p>
<table class="table table-hover table-striped">
    <tr>
        
>>>>>>> ea864b23c481a57cccfc58da7afa2b708e1a67f6
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th></th>
    </tr>

<<<<<<< HEAD
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Ayrıntılar", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
=======
@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Ayrıntılar", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
            @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}
>>>>>>> ea864b23c481a57cccfc58da7afa2b708e1a67f6

</table>
